.u-section-1 .u-sheet-1 {
  min-height: 178px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 45px auto 0;
}

.u-section-1 .u-btn-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 28px auto 8px;
}.u-section-2 .u-sheet-1 {
  min-height: 1210px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 1064px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 13px auto 0;
}

.u-section-2 .u-image-2 {
  width: 193px;
  height: 218px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -220px auto 60px 83px;
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1154px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 1008px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -164px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 781px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 635px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 209px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 183px;
}.u-section-4 .u-sheet-1 {
  min-height: 178px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 45px auto 0;
}

.u-section-4 .u-btn-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 28px auto 8px;
}.u-section-5 .u-sheet-1 {
  min-height: 712px;
}

.u-section-5 .u-image-1 {
  width: 1093px;
  height: 481px;
  margin: 43px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-5 .u-image-1 {
    width: 940px;
    height: 414px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-5 .u-image-1 {
    width: 720px;
    height: 317px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 238px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 150px;
  }
}